.DS_Store
User
freeFile.egg-info
dist
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
develop-eggs/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
MANIFEST
