stages: 
  - pre_build
  - deployTest
  - test
  - cleanTest
  - build_image
  - deploy_image


pre_build:
  stage: pre_build
  script:
    - docker build -t="catone/freefile:pre_build" -f ./server/Dockerfile ./server/
  when: always


redisTest:
  stage: deployTest
  script:
    - docker run -d --name="redis_test" redis:latest
  when: always

mysqlTest:
  stage: deployTest
  script:
    - docker run -d --name="mysql_test" mysql:latest
  when: always

freeFileServerEnd:
  stage: deployTest
  script:
    - docker run -d -P --name="free_file_test" catone/freefile:pre_build
  when: always

pyTest:
  stage: test
  script:
    - echo pyTest
  when: always

cleaner:
  stage: cleanTest
  script:
    - echo cleanTestEnv
    - docker rm -f free_file_test || true
    - docker rm -f mysql_test || true
    - docker rm -f redis_test || true
  when: always

build:
  stage: build_image
  script:
    - docker tag catone/freefile:pre_build 118.126.93.123:5000/freefile:latest 
  dependencies:
    - pyTest  
  when: always

pre_deploy:
  stage: deploy_image
  script: 
    # - docker push 118.126.93.123:5000/freefile:latest
    - echo $DOCKER_USERNAME 
    - echo $DOCKER_PASSWORD
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker push $loginUser/freefile:latest
  when: on_success
  only:
    - dev


